

{% extends 'registration/base.html' %}
{% block content %}

<div class="container">
 <div class="row" style="padding-top: 20px">
     <a href=""> create hood here</a></h4>

   {% for hood in hoods %}
   <div class="col-md-4">
     <div class="panel panel-default">
       <div class="panel-heading">
         {{hood.name.capitalize}}
       </div>
       <div class="panel-body">
         <p>{{hood.occupants}}</p>
           <p>{{ hood.loc }}</p>
         <a href="" class="btn btn-sm btn-success">Join</a>
       </div>
     </div>
   </div>
   {% endfor %}
 </div>
</div>
{% endblock %}
