
{% extends 'registration/base.html'%}
{% block content %}
    <h4 style="text-align:center;"> Local Businesses!</h4>

<div class="container">
<div class="row">
    {% for business in businesses %}
        <div class="col-md-4">
            <div class="card" style="width: 25rem">
        <p><i class="fa fa-building">{{business.name}}</i></p>
        <p>Owner :{{business.user}}</p>
                <p><i class="fa fa-envelope" aria-hidden="true"> {{ business.email }}
                </i></p>
                <p><a href="#">Neighbourhood :{{business.hood}}</a></p>
</div>
        </div>
    {% endfor %}
</div>
</div>

{% endblock %}
