{% extends 'registration/base.html' %}

{% load static %}
{% load bootstrap4 %}


{% block content %}
{{ form.media }}


    <div class="container">
        <div class="col-md-8">
            <div class="row">
                <div style="overflow:hidden; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; width:90px;height:90px;">
                </div>
                <div class="col-md-5 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                                                <p>{{profile_details.bio}}</p>
                                                {{ profile_details.user }}


                        </li>


                    </ul>

                    <p><a href= "{% url 'business' %}">Create a business</a></p>
                    <p><a href= "{% url 'business' %}">Make a Post</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}